.todo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: clamp(250px, 90%, 700px);
    overflow: hidden;
}

caption {
    font-size: larger;
}

.todo {
    color: green;
    user-select: text;
    padding: 0.5rem 1rem;
    text-align: center;
    border: none;
}

.todo.done {
    font-style: italic;
    color: #bbbbbb;
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}

.set {
    cursor: pointer;
    user-select: none;
    padding: 0.5rem;
    width: 0px;
}

.set.set-done {
    color: white;
    background: green;
}

.set.set-done.true {
    background: rgb(153, 179, 7);
}

.set-add {
    cursor: pointer;
    color: blue;
    height: 30px;
}

.set.set-delete {
    color: white;
    background: black;

    &:hover {
        background: red;
    }
}

tbody tr:hover .todo {
    background: #e4e4e4;
}